

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    background-color: rgb(239,239,239);
}

header h1{
    font-size: 30px;
    text-align: center;
}


section{
	margin: auto;
	width: 70%;
	padding: 40px;
	
}
.container{
	background-color: #FFFFFF;
	width: 100%;
	/* margin-left: 100px; */
	overflow: hidden;
	padding-bottom: 50px;

}

.container .first{
	font-size: 18px;
	width: 12%;
	line-height: 30px;
    float: left;
	margin: 25px;
	padding: 20px;
	
}

.container .second{
	width: 35%;
	float: left;

	margin-left: 50px;
	margin-top: 15px;

}
.second .cat-image{
	width: 100%;
	border-radius: 10px;
}
.container .second .heading{
	font-size: 25px;
	margin-bottom: 22px;
}
.second p{
	font-size: 17px;
	margin-top: 25px;
}
.second .para-3{
	font-size: 15px;
	margin-left: 75px;
}

.container .third{
	width: 15%;
	float: left;
	font-size: 18px;
	padding: 20px;
	line-height: 30px;
	margin: 25px;
}
.container-data{
	margin-left: 50px;
	margin-top: 30px;
}